ALTER TABLE public.partner_points ADD COLUMN IF NOT EXISTS accepts_pix BOOLEAN DEFAULT true, ADD COLUMN IF NOT EXISTS accepts_credit BOOLEAN DEFAULT false, ADD COLUMN IF NOT EXISTS min_credit_amount DECIMAL(10,2) DEFAULT 0;
ALTER TABLE public.partner_points ADD COLUMN IF NOT EXISTS accepted_payment_methods JSONB DEFAULT '[]'::jsonb;
